@import "../../../assets/variables.scss";

.LeavesContainer {
  margin: auto;
  position: relative;
  height: 75%;
  width: 100%;
}
.Leaves {
  position: relative;
  background: linear-gradient(to top right, $darkgreen 10%, olive 100%);
  border-radius: 33%;
  margin: auto;

  &.Main {
    position: absolute;
    bottom: -7%;
    left: 25%;
    height: 100%;
    width: 50%;
    border-radius: 38%;
  }

  &.Top {
    top: 16%;
    height: 42%;
    width: 80%;
  }

  &.Middle {
    height: 45%;
    width: 100%;
  }

  &.Bottom {
    height: 39%;
    width: 80%;
    bottom: 20%;
  }
}
