@import "../../../assets/variables.scss";

.LeavesContainer {
  margin: auto;
  position: relative;
  height: clamp(400px, 75%, 750px);
  width: 100%;
}

.LeavesMain {
  position: absolute;
  bottom: -20px;
  left: 25%;
  z-index: 2;
  height: 100%;
  width: 50%;
  border-radius: 47%;
  background: #a0be38;
}

.LeavesTop {
  position: relative;
  top: 90px;
  /* left: 12%; */
  z-index: 2;
  margin: auto;
  height: 42%;
  width: 80%;
  border-radius: 50%;
  background: #a0be38;
}
.LeavesMiddle {
  position: relative;
  z-index: 2;
  height: 45%;
  width: 100%;
  border-radius: 50%;
  background: #a0be38;
}

.LeavesBottom {
  position: relative;
  bottom: 90px;
  /* left: 12%; */
  z-index: 2;
  margin: auto;
  height: 39%;
  width: 80%;
  border-radius: 50%;
  background: #a0be38;
}

// .Leaf::before {
//   content: "";
//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 15px;
//   height: 30px;
//   border-radius: 50%;
//   background: -webkit-radial-gradient(
//     closest-side,
//     $green,
//     $green 50%,
//     transparent 50%
//   );
//   background-size: 30px 30px;
//   background-position: 0 15px;
//   background-repeat: repeat-x;
//   transform: rotate(30deg);
// }
