@import "../../assets/variables.scss";

.Apple {
  z-index: 10;
  position: absolute;
  height: clamp(40px, 16%, 50px);
  width: clamp(50px, 10%, 60px);
  transform: rotate(5deg);
  .Left {
    position: absolute;
    height: 100%;
    width: 75%;
    border-radius: 50%;
    background: $red;
  }
  .Right {
    position: absolute;
    height: 100%;
    width: 75%;
    right: 0;
    border-radius: 50%;
    background: $red;
  }
}

.Apple::before {
  content: "";
  z-index: 1;
  right: 23%;
  top: -12px;
  height: 19px;
  width: 14px;
  position: absolute;
  border: solid 3px;
  border-color: transparent transparent transparent $brown;
  box-sizing: border-box;
  border-radius: 50%;
  transform: rotate(25deg);
}

@function randomNum($min, $max) {
  $rand: random();
  $randomNum: $min + floor($rand * (($max - $min) + 1));
  @return $randomNum;
}

@for $i from 1 through 4 {
  $top: #{randomNum(percentage(0.21), percentage(0.35))};
  $left: #{randomNum(percentage(0.15), percentage(0.75))};
  .Apple:nth-of-type(#{$i}) {
    top: $top;
    left: $left;
  }
}
@for $i from 5 through 9 {
  $top: #{randomNum(percentage(0.49), percentage(0.63))};
  $left: #{randomNum(percentage(0.05), percentage(0.85))};
  .Apple:nth-of-type(#{$i}) {
    top: $top;
    left: $left;
  }
}
@for $i from 10 through 13 {
  $top: #{randomNum(percentage(0.72), percentage(0.93))};
  $left: #{randomNum(percentage(0.15), percentage(0.76))};
  .Apple:nth-of-type(#{$i}) {
    top: $top;
    left: $left;
  }
}
