@import "../../assets/variables.scss";

.Apple,
.AppleInBasket {
  display: inline-block;
  z-index: 10;
  position: absolute;
  height: clamp(40px, 16%, 50px);
  width: clamp(50px, 10%, 60px);
  transform: rotate(5deg);

  .Left {
    position: absolute;
    height: 100%;
    width: 75%;
    border-radius: 50%;
    background: $red;
  }
  .Right {
    position: absolute;
    height: 100%;
    width: 75%;
    right: 0;
    border-radius: 50%;
    background: $red;
  }
}

.AppleInBasket {
  margin-right: 3px;
  position: unset;
  height: clamp(25px, 16%, 35px);
  width: clamp(35px, 10%, 45px);
  transform: rotate(0);
}

.Apple::before,
.AppleInBasket::before {
  content: "";
  z-index: 10;
  right: 23%;
  top: -12px;
  height: 19px;
  width: 14px;
  position: absolute;
  border: solid 3px;
  border-color: transparent transparent transparent $brown;
  box-sizing: border-box;
  border-radius: 50%;
  transform: rotate(25deg);
}

@function randomNum($min, $max) {
  $rand: random();
  $randomNum: $min + floor($rand * (($max - $min) + 1));
  @return $randomNum;
}

@for $i from 1 through 20 {
  $bottom: #{randomNum(percentage(0.79), percentage(0.22))};
  $left: #{randomNum(percentage(0.22), percentage(0.71))};

  .Apple:nth-of-type(#{$i}) {
    bottom: $bottom;
    left: $left;
  }
}
