@import "../../assets/variables.scss";

.Tree {
  margin: auto;
  width: clamp(550px, 37vw, 800px);
  height: clamp(850px, 93vh, 1000px);
}

.Trunk {
  margin: auto;
  background: linear-gradient(to right, $darkbrown, $brown, $darkbrown);
  height: 25%;
  width: 150px;
}
